<div class="main-container">
  <div class="sidebar">
    <button (click)="agregarNuevoEvento()" class="btn-agregar-evento">Agregar nuevo evento</button>
    <div class="icon-legend">
      <h3>Leyenda de Iconos</h3>
      <div class="legend-item">
        <i class="fa-sharp fa-solid fa-pills"></i>
        <span>Medicamento comprado</span>
      </div>
      <div class="legend-item">
        <i class="fa-solid fa-receipt"></i>
        <span>Fin de medicina</span>
      </div>
      <div class="legend-item">
        <i class="fa-solid fa-user-doctor"></i>
        <span>Cita medica</span>
      </div>
      <div class="legend-item">
        <i class="fa-solid fa-ticket"></i>
        <span>Ticket comprado</span>
      </div>
      <div class="legend-item">
        <i class="fa-solid fa-mug-hot"></i>
        <span>Dias de permiso</span>
      </div>
      <!-- Agrega más iconos según sea necesario -->
    </div>
  </div>
  <div class="calendar-container">
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="eventos" [locale]="locale"
      [activeDayIsOpen]="activeDayIsOpen" [cellTemplate]="eventTemplate" [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays" (dayClicked)="dayClicked($event.day)" (eventClicked)="eventClicked($event.event)">
    </mwl-calendar-month-view>
  </div>
</div>

<ng-template #eventTemplate let-day="day" let-events="day.events">
  <div class="cal-cell-top">
    {{ day.date | calendarDate:'monthViewDayNumber':locale }}
  </div>
  <div *ngIf="events && events.length > 0" class="event-icons-container">
    <div *ngFor="let event of events" class="event-icon">
      <i class="fa-sharp fa-solid" [ngClass]="event.meta.iconClass"></i>
    </div>
  </div>
</ng-template>